.ModalDrawerContainer {
 /*Вылетает ошибка при комбинировании инлайн и модульных стилей,
 поэтому стиль прописан инлайн в одноименной компоненте
 */
}
.ModalContainer {
    height: 50vh;
    width: 50vw;
    position:absolute
}
